/* .policyList1{
    width:500px;
    height:fit-content;
    border: 1.9px solid #d6d6d6;
    border-radius: 13px;
}

.policyData{
    padding: 18px;
    width:fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.policyFstItem{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: fit-content;
    align-items: center;
}
.polyBizSjnm{
    font-weight:700;
    font-size: 17px;
    margin-right: 8px;
}
.plcyTpNm{
    width:fit-content;
    height: fit-content;
    font-size: 12px;
    background-color: blanchedalmond;
    color:rgb(156, 102, 19);
    padding:3px;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 200;
}

.polyBizTy{
    width:fit-content;
    height: fit-content;
    font-size: 12px;
    background-color:rgb(123, 169, 255);
    color:rgb(9, 56, 143);
    padding:3px;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 200;
}

.policySndItem{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height:fit-content;
    align-items: center;
    color:#9b9b9b;
    font-size: 15px;
    font-weight: 500;
    padding:3px;
}

.rqutPrdCn{
    margin-right: 8px;
}

.cnsgNmor{
    margin-right: 8px;
} */