/*Main Content1*/

div#main{
    display: flex;
    width:100%;
    height:100%;
  }
  
  div#main div.mainContent{
  width:40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(133, 174, 252);
  justify-content: center;
  }
  
  div#main div.mainContent ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
  
  div#main div.mainImg{
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
  }
  
  div#main div.mainImg img{
    height:auto;
  
  }
  
ul li{
    height:auto;
    list-style-type: none;
}