div.filter_container{
    border: 1px solid black;
    height: -webkit-fill-available;
    background-color:#fffae8;
    width: 100%;
}

div.filter_itme{
    /* display: flex;
    flex-direction: column;
     */
}

div.items{
    /* display: flex; */

}