/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin:0;
  padding:0;
  text-align: center;
  height:100%;
}

/*menu css*/

#menu{
  width:100%;
  height: 50px;
  display: flex;
}

#menu div.icon{
  color: #0300ac;
  /* color:white; */
  display: inline-flex;
  width:10%;
  align-items: center;
  justify-content: center;
}

#menu div.icon span{
  font-weight:bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#menu ul.nav{
  list-style-type: none;   
  /* background-color: #61dafb; */
  display: inline-flex;
  width:75%;
  align-items: center;
  justify-content: space-evenly;
}

#menu ul.nav li{
   color: #0300ac;
  cursor: pointer;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

#menu div.login{
  width:15%;
  /* background-color: #ffff00; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#menu div.login .btn-primary{
  width:30%;
  height:auto;
}

